<ion-header>
  <ion-navbar>
    <ion-title>
      Bluebot
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home">
    <ion-list>  
        <ion-item text-wrap no-lines class="message" *ngFor="let message of messages" [ngClass]="(message.sender=='Person')?'message-person':'message-bender'">
          <ion-avatar item-left *ngIf="message.sender === 'Bender'">
            <img src="assets/icon/Bender.ico">
          </ion-avatar>
            <p [ngClass]="(message.sender=='Person')?'message-sender-right':''">{{message.nickname}}</p>
            <div [innerHTML]="message.mensagem"></div>
            <!--{{ message.mensagem }}-->

            <ion-avatar item-right *ngIf="message.sender !== 'Bender'">
              <img src="assets/img/person.jpg">
            </ion-avatar>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col width-75>
      <ion-textarea item-left placeholder="Digitar mensagem" clearInput [(ngModel)]="chatBox">
        
      </ion-textarea>
      </ion-col>
      <ion-col width-33>
        <button item-right ion-button (click)="send(chatBox)">Enviar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

